.download-chart-container {
  width: 100%;
  &-header {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.downloads-toggle {
  color: rgb(32, 73, 255);
  cursor: pointer;
}

.chart {
  width: 100%;
  app-loader {
    margin-inline-end: auto;
  }
}

.chart-type {
  cursor: pointer;
}

@media (max-width: 500px) {
  .download-chart-container {
    &-header {
      font-size: 0.7rem;
    }
  }
}
