@import "base-styles";

.compare-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.error {
  font-size: 1rem;
  color: red;
  margin-bottom: 10px;
}

.close {
  position: absolute;
  top: 1%;
  right: 5%;

  & i {
    font-size: 2rem;
    cursor: pointer;
  }
}

#compare-form {
  width: 60%;
  margin-inline: auto;

  & .form-group {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    & .form-item {
      width: 100%;

      & label {
        font-size: 0.8rem;
        font-weight: 700;
      }

      & .input-main {
        position: relative;
      }

      & input {
        width: 100%;
        margin-top: 3px;
        display: block;
        padding: 8px 10px;
        border: 1px solid rgba($dark-color, 0.5);

        &:focus {
          outline: none;
        }
      }

      & .remove-input {
        position: absolute;
        right: -17px;
        cursor: pointer;

        & i {
          font-size: 1rem;
          color: $dark-color;

          &:hover {
            color: rgba($dark-color, 0.7);
          }
        }
      }
    }
  }
}

.form-actions {
  margin-top: 20px;
  & button {
    border: none;
    background: $dark-color;
    color: $light-text-color;
    padding: 10px;
    cursor: pointer;

    &.add-input {
      margin-left: 10px;
      background: rgba($dark-color, 0.5);
    }

    &:hover {
      background: rgba($dark-color, 0.8);
    }
  }
}
