@import "base-styles";

#compare-form {
  width: 60%;
  margin-inline: auto;
  & .form-item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    & label {
      font-size: 0.8rem;
      font-weight: 700;
    }

    & input {
      width: 100%;
      margin-top: 3px;
      display: block;
      padding: 8px 10px;
      border: 1px solid rgba($dark-color, 0.5);

      &:focus {
        outline: none;
      }
    }
  }
}
