@import "base-styles";

.lib-details-container {
  width: 100%;
  margin-inline: auto;
  overflow: hidden;
  margin-top: 20px;
  padding-bottom: 30px;
}

.lib-name-info {
  width: 90%;
  margin-inline: auto;

  & .lib-name-desc {
    & .lib-name {
      font-size: 3.2rem;
      font-weight: 700;
      text-transform: capitalize;

      & .latest-v {
        font-size: 0.7rem;
        background: $dark-color;
        color: $light-text-color;
        padding: 2px 5px;
      }
    }

    & .lib-desc {
      margin-top: 10px;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  & .lib-homepage {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
  }
}

.lib-actions {
  width: 90%;
  margin-inline: auto;
  margin-top: 20px;
  & a {
    display: inline-block;
    text-decoration: none;

    & i {
      color: $dark-color;
      font-size: 2rem;
      transition: all 500ms ease-in-out;

      &.fa-npm {
        font-size: 3rem;
        transform: translateY(-4px);
      }

      &:hover {
        color: rgba($dark-color, 0.8);
      }
    }
  }
}

.lib-versions {
  position: relative;
  margin-top: 30px;
  width: 90%;
  margin-inline: auto;
  height: 500px;
  overflow: auto;

  &-header {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  & table {
    width: 100%;

    th,
    td {
      width: 50%;
    }
  }

  /* width */
  &::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $dark-color;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
}

.download-chart {
  width: 100%;
  margin-top: 30px;
  overflow: hidden;
}
