@import "base-styles";

.lib-details-container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  overflow: hidden;
  margin-top: 20px;
  padding-bottom: 30px;
}

.lib-name-info {
  & .lib-name-desc {
    & .lib-name {
      font-size: 3.2rem;
      font-weight: 700;
      text-transform: capitalize;

      & .latest-v {
        font-size: 0.7rem;
        background: $dark-color;
        color: $light-text-color;
        padding: 2px 5px;
      }
    }

    & .lib-desc {
      margin-top: 10px;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  & .lib-homepage {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
  }
}

.lib-actions {
  margin-top: 20px;
  & a {
    display: inline-block;
    text-decoration: none;

    & i {
      color: $dark-color;
      font-size: 2rem;
      transition: all 500ms ease-in-out;

      &.fa-npm {
        font-size: 3rem;
        transform: translateY(-4px);
      }

      &:hover {
        color: rgba($dark-color, 0.8);
      }
    }
  }
}

.lib-versions {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 500px;
  overflow: auto;

  &-header {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  & table {
    width: 100%;

    th,
    td {
      width: 50%;
    }
  }
}

.download-chart {
  margin-top: 30px;
}
