@import "base-styles";

.app-container {
  position: relative;
}

.main-content {
  width: 90%;
  margin-inline: auto;
}
.progress-bar {
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  z-index: 10000;
}
