@import "base-styles";

.app-container {
  position: relative;
  background-image: url("../assets/home-bg.jpg");
  background-size: cover;
  background-position: center center;
  // height: 100%;
}

app-header {
  position: relative;
  z-index: 3;
  margin-bottom: 66px;
}

.main-content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-inline: auto;
  z-index: 2;
}
.progress-bar {
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  z-index: 10000;
}
