<div id="app-container" fxFlex fxLayout="column">
  <app-header></app-header>
  <div class="main-content">
    <app-home></app-home>
    <div class="search">
      <app-library-search></app-library-search>
    </div>

    <div class="lib-info" fxLayout="column" fxLayoutAlign="center center">
      <div class="lds-spinner" *ngIf="isLoading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="lib-main-info" *ngIf="!isLoading && libData">
        <h3 class="lib-name">{{ libData.name }}</h3>
        <p class="desc">{{ libData.description }}</p>
        <button type="button">Click to see more</button>
      </div>

      <div class="lib-error" *ngIf="!isLoading && libError">
        Library not found
      </div>
    </div>
  </div>
</div>
