<div id="header-container" fxLayout fxLayoutAlign="center center">
  <div id="header" fxLayoutAlign="space-between center">
    <div class="logo" [routerLink]="['/']" fxLayoutAlign="center center">
      NPM Search App <i class="fa-brands fa-npm"></i>
    </div>
    <ul class="links" fxLayout fxLayoutAlign="space-between center">
      <li class="link">
        <a
          href="https://www.linkedin.com/in/david-egbuwalo-aa75581a0/"
          target="_blank"
        >
          <i class="fa-brands fa-linkedin-in"></i
        ></a>
      </li>
      <li class="link">
        <a
          href="https://github.com/realLehre/npm-library-search-app"
          target="_blank"
        >
          <i class="fa-brands fa-github"></i
        ></a>
      </li>
      <li class="link history-btn" (click)="openHistory()">
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </li>
    </ul>
  </div>

  <div class="progress-bar" *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>
