@import "base-styles";

#header-container {
  position: fixed;
  width: 100%;
  height: 72px;
  padding: 20px 0;
  background: $light-text-color;
  color: $dark-color;
}

#header {
  width: 90%;
  margin-inline: auto;
  max-width: 1200px;

  & .logo {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 800;

    & i {
      font-size: 2rem;
      margin-left: 10px;
    }
  }
}

.links {
  list-style: none;
}

.history-btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  & .fa-ellipsis-vertical {
    font-size: 1.5rem;
  }
}

.progress-bar {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 68px;
  left: 0;
}

.search-form {
  margin-right: 20px;
}

.form-group {
  position: relative;
  width: 100%;

  & input {
    width: 100%;
    border: 1px solid $dark-color;
    border-radius: 50px;
    padding: 12px;
    padding-left: 40px;
    background: transparent;
    color: $light-text-color;
    font-size: 1rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $dark-color;
    }
  }

  & i {
    color: $dark-color;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
}

@media (max-width: 450px) {
  #header {
    & .logo {
      font-size: 1rem;

      & i {
        display: none;
      }
    }

    & .links {
      & .link {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
}
