@import "base-styles";

.lib-main-info {
  text-align: center;
  margin-top: 30px;

  & .lib-name {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  & .desc {
    font-size: 1rem;
  }
}

.lib-error {
  display: inline-block;
  margin-top: 10px;
  font-size: 1rem;
  background: red;
  color: white;
  padding: 8px;
}

@media (max-width: 500px) {
  .form-group {
    width: 100%;
  }
}
