@import "base-styles";

.form-group {
  position: relative;
  width: 40%;
  margin-inline: auto;

  & input {
    width: 100%;
    border: none;
    padding: 12px;
    background: $main-color;
    color: $light-text-color;
    font-size: 1rem;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $light-text-color;
    }
  }

  & button {
    position: absolute;
    background: rgb(0, 68, 255);
    border: none;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 100%;
    padding: 15px;
    cursor: pointer;
    transition: all 300ms ease-in-out;

    &:hover {
      background: rgb(0, 48, 179);
    }

    & i {
      color: $light-text-color;
      font-size: 1.2rem;
    }
  }
}

.lib-main-info {
  text-align: center;
  margin-top: 30px;

  & .lib-name {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  & .desc {
    font-size: 1rem;
  }

  & .see-more {
    display: inline-block;
    margin-top: 20px;
    background: $main-color;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px;
    border: none;
    color: $light-text-color;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
      box-shadow: 1px 1px 4px rgb(82, 82, 82);
    }
  }
}

.lib-error {
  display: inline-block;
  margin-top: 10px;
  font-size: 1rem;
  background: red;
  color: white;
  padding: 8px;
}
