.dialog-container {
  & mat-form-field {
    width: 100%;
    position: relative;

    & mat-label {
      font-size: 1rem;
    }

    & mat-date-range-input {
      padding: 10px 0;
    }

    & mat-datepicker-toggle {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.mat-form-field-flex.ng-tns-c118-2 {
  display: none;
}

button {
  margin-top: 20px;
}
