@import "base-styles";

#home-container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  text-align: center;
  padding: 0 20px;
  color: $light-text-color;
  background: url("../../assets/home-bg.jpg") no-repeat center center / cover;
  background-size: cover;

  & .hero-main-text {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 0.9;
  }

  & .hero-copy {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
  }

  & .search {
    width: 100%;
    margin-top: 50px;
  }

  .lib-info {
    margin-top: 30px;
  }

  & .hero-main-text,
  & .hero-copy,
  & .search {
    position: relative;
    z-index: 2;
  }
}

.bg-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
  opacity: 0.9;
  filter: blur(50px);
  -webkit-filter: blur(50px);
}

.bg-img {
  width: 100%;
}
