@import "base-styles";

#home-container {
  margin-top: 20px;
  text-align: center;

  & p {
    font-size: 1.5rem;

    font-weight: 500;
  }
}

.search {
  margin-top: 50px;
}

.lib-info {
  margin-top: 30px;
}
