<div id="home-container">
  <p>
    Welcome the NPM Library search app. This app helps you find your favourite
    libraries and gives you all the details you need about them. <br />
    <br />
    All you have to do is input the library name into the search box below and
    it will do its best to help you if you don't remember the right spelling.
  </p>

  <div class="search">
    <app-library-search></app-library-search>
  </div>

  <div class="lib-info" fxLayout="column" fxLayoutAlign="center center">
    <div class="lds-spinner" *ngIf="isLoading">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="lib-error" *ngIf="!isLoading && libError">
      Library not found
    </div>
  </div>
</div>
