@import "base-styles";

#home-container {
  width: 90%;
  margin-inline: auto;
  margin-top: 20px;
  text-align: center;
  color: $dark-color;

  & .hero-main-text {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 0.9;
  }

  & .hero-copy {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
  }
}

.search {
  margin-top: 50px;
}

.lib-info {
  margin-top: 30px;
}
