<div
  id="home-container"
  fxLayout="column"
  fxLayoutAlign="center center"
  [ngClass]="{ blur: isLoading }"
>
  <h1 class="hero-main-text">Effortlessly search and explore NPM packages</h1>

  <p class="hero-copy">
    Discover and compare npm libraries with ease. Say goodbye to endless
    scrolling through npm packages. Our library search app makes it easy to find
    exactly what you're looking for.
  </p>

  <div class="search">
    <app-library-search></app-library-search>
  </div>

  <div class="lib-info" fxLayout="column" fxLayoutAlign="center center"></div>
</div>
